/* ::::: timepicker ::::: */
/* :::: declarations :::: */
@IMPORT url("../textfield/textfield.css");
@IMPORT url("../spinbutton/spinbutton.css");
@IMPORT url("../slider/slider.css");
timepicker {
	-moz-binding: url("timepicker.xml#timepicker");
	font-family:monospace, cursive, serif, sans-serif;
}
timepicker[error="true"] textbox{
	color:IndianRed;
}
timepicker hslider {
	visibility:hidden;
}
timepicker:hover hslider {
	visibility:visible;
}
timepicker:active hslider {
	visibility:visible;
}
